* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: 100vh;
  background: black;
  color: white;
}

section {
  margin-bottom: 40px;
}

@media (max-width: 768px) {

section {
  margin: 20px 0;
}

}